
<launch>
   
    <arg name="model" default="burger" doc="Модель робота: burger, waffle или waffle_pi"/>
    <arg name="x_pos" default="-2.0" doc="Начальная координата X робота в мире Gazebo (в метрах)"/>
    <arg name="y_pos" default="-0.5" doc="Начальная координата Y робота в мире Gazebo (в метрах)"/>
    <arg name="z_pos" default="0.0" doc="Начальная координата Z робота в мире Gazebo (в метрах)"/>
    <arg name="gazebo_gui" default="true" doc="Запускать ли графический интерфейс Gazebo (true/false)"/>
    
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_world.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="$(arg gazebo_gui)"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>
    

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
    
   
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" 
          args="-urdf -model turtlebot3_$(arg model) 
                -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) 
                -param robot_description" />
</launch>
